.history {
  width: 90%;
  margin: 0 auto;
padding-bottom: 100px;
  .main-title {
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    color: #344054;
  }
  .main-info {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    .main-info-item {
      width: 48%;
      background-color: #fcfcfd;
      padding: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 10px;
      .title{
        font-size: 14px;
        font-weight: 600;
        color: #98A2B3;
      }
      .amount{
        margin-top: 10px;
        .value{
            color: #475467;
            font-size: 16px;
            font-weight: 700;
            font-family: 'iranyekan';
        }
        .currency{
            font-size: 14px;
            font-weight: 500;
            margin-right: 5px;
            color: #667085;
        }
      }
    }
  }
  .purchases{
    margin-top: 20px;
  }
}
.empty{
.main-title{
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    color: #344054;
}
    .empty-icon{
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p{
            font-size: 14px;
            font-weight: 700;
            color: #344054;
        }
    }
}

