.main{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 100px;
}
.filters-btn{
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
}
.branches{
    margin-top: 20px;
}