/* CSS variables for dark/light mode */


:root {
    --bg-body: #EAECF0;
    --bg-overlay: rgba(0,0,0,0.2);
    --border-color: #EAECF0;
    --bg-color-1:#FCFCFD;
    --text-color: #344054;
    --text-color-2: #fff;
    --border-color-2: #EAECF0;
    --border-color-3: #F2F4F7;
    --bg-color-2: #ececec;
    --bg-color-3: #FCFCFD;
    --bg-card: #fcfcfd;
    --text-grey:#667085;
    --bg-color-4: #fff;
    --bg-color-5: #F2F4F7;
    --bg-color-6: #fff;
    --footer-box-shadow: none;
    --text-color-1: #475467;
}

[data-theme="dark"] {
    --bg-body: #0C111D;
    --bg-overlay: rgb(2 2 2 / 70%);
    --border-color: #1F242F;
    --border-color-2: #333741;
    --border-color-3: #1F242F;
    --bg-color-1: #0C111D;
    --text-color: #CECFD2;
    --text-color-2: #0C111D;
    --bg-color-2: #757575;
    --bg-color-3: #161B26;
    --bg-card: #161B26;
    --text-grey: #94969C;
    --bg-color-4: #0C111D;
    --bg-color-5: #1F242F;
    --bg-color-6: #000;
    --footer-box-shadow:rgb(95 95 95) 0px 10px 30px;
    --text-color-1: #CECFD2;
}